
       h2{
        text-align: center;
       }
        .reliance_img {
                width: 80%;
                /* border:1px solid red; */
                margin: auto;
            }
        .reliance_img img {
                width: 100%;
            }
        
        #product_main_container {
             border: 1px solid blue; 
            height: auto;
            display:flex;
            width:90%;
            margin: auto;
            justify-content: space-around;
            }
            #product_left_container{
                border: 1px solid green;
                width: 60%;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
         .detail_left {
             /* border: 1px solid red;  */
             height: 100%;
            width: 100%;
            } 
        .detail_left img{
            width:26%;
             border: 1px solid red; 
        }
       h4 {
        text-align: center;
        margin-top:-4%;
        color:#5a5a55;
        margin-left: 20%;
        }
        h3 {
            margin-top:2%;
        }
        .detail_left div {
            border: 1px solid rgb(211, 153, 153);
            width: 50%;
            justify-content: space-around;
            text-align:right;
            height:20px;
            margin-top: -4%;
            font-size:18px;
        }
        
        .product_right_container {
             border: 1px solid yellow; 
            width:30%;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            /* margin-left:20%; */
            }    
        .orderdetails {
                font-size:23px;
                font-weight:bold;
            }
        #bag {
            display: flex;
            justify-content:space-between;
        }
        .bag_total {
            color: rgb(88, 84, 84);
            font-size:20px;
        }
        .bag_total_price {
            font-size:20px;
            margin-top: -5%;
        }
        .deliv {
            color: rgb(88, 84, 84);
            font-size:20px;
            margin-top: -2%;
        }
        .total {
            font-size:20px;
            margin-top: 6%;
        }
        .totalamount {
            font-size:20px;
        }
        
        .shipping_btn {
            width:90%;
           margin-bottom: 10px;
            border-radius: 4px;
            background-color: green;
            border: 1px solid #D5A249;
            color:white;
            /* letter-spacing:2px; */
            cursor: pointer;
        }
        .shipping_btn:hover{
          outline: 1px solid;
          border: 3px solid #5a5a55;
          transition: all 0.3s ease-in-out;
        }
        
        .bottom_icons {
            display: flex;
            width: 70%;
            margin-top: 1%;
            margin-left: 23%;
            /* border: 3px solid #5a5a55; */
        }
        .exchange_icons {
            /* border:1px solid red; */
            width: 100%;
            margin: auto;
        }
        .exchange_icons img {
            width:20%;
        }
        
        
        /* NAVBAR design */
        
        #navbar{
                height:72px;
                width:100%;
                border-top: 3px solid rgb(47,66,84);
                display: flex;
                /* justify-content: space-around; */
        
            }
            #navbar-left{
                height:65px;
                width:25%;
                border:1px solid transparent;
                margin-left: 80px;
        
            }
            #navbar-right{
                height:100%;
                width:60%;
                border:1px solid transparent;
                margin-right: 50px;
                margin-left: 50px;
                
        
            }
            #right-upper{
                height:50% ;
                width:100%;
                border:1px solid transparent;
                display:flex;
                justify-content: right;
                gap:22px;
                align-items: center;
            }
            #right-upper:hover{
                cursor: pointer;
            }
            #right-lower{
                height:50% ;
                width:100%;
                border:1px solid transparent;
                display:flex;
                justify-content: space-around;
                align-items: center;
                font-family: sans-serif;
                font-size: 14px;
                color:rgb(106,106,106);
                margin-top: 3px;
            }
            #rl:hover{
                font-weight: bold;
                cursor: pointer;
            }
            #site-logo{
                height:100%;
                width:35%;
                margin-left: 60px;
            }
            #navbar-button{
                height:100%;
                background-color: black;
                color:white;
                font-size: 12px;
                font-family: sans-serif;
                margin-right: 30px;
                cursor: pointer;
               
            }
            #navbar-input{
                border-radius: 15px;
                width: 250px;
                height:25px;
        
            }
            #ru{
                font-size: 12px;
                color:rgb(106,106,106);
                text-decoration: none;
                font-family: sans-serif;
            }
            #navbar-image{
                height:100px;
                width:100%;
                border:1px solid transparent;
                margin-top: 10px;
                
            }
            #navbar-img{
                height:100%;
                width:100%;
            }
            #bar-img{
                height:100%;
                width:4%;
                cursor: pointer;
                background-color: rgb(47,66,84);
                color: white;
            }
        
        
        
            /* FOOTER Design */
        .footer {
            text-transform: uppercase;
            background-color: rgb(44, 65, 82);
            box-sizing: border-box;
            padding: 70px 70px;
            line-height: 1.5;
            font-family: 'Poppins', sans-serif;
            border-top: gray;
            text-align: justify;
            margin-top: 5%;
            
        }
        
        .row {
            display: flex;
            flex-wrap: wrap;
        }
        
        .footer-col {
            width: 20%;
            padding: 0 30px;
        }
        
        .footer-col h4 {
            font-size: 13px;
            color: rgb(255,255,255);
            margin-bottom: 35px;
            font-weight: bolder;
            position: relative;
            margin-left: 38px;
        }
        
        .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
        }
        
        ul {
            list-style-type: none;
        }
        
        .footer-col ul li a {
            font-size: 11px;
            text-decoration: none;
            font-weight: 300;
            color: rgb(255,255,255);
            display: block;
            margin-bottom: 15px;
            transition: all 0.3s ease;
        }
        
        .footer-col ul li a:hover {
            padding-left: 8px;
        }
        
        .social-links a {
            margin-left: 20px;
            background-color: rgba(255, 255, 255, 0.2);
            line-height: 40px;
            border-radius: 15%;
            color: #222;
            transition: all 0.5s ease;
        
        }
        
        .social-links {
            display: flex;
            gap: 20px;
        }
        
        #first-right {
            height: 100%;
            width: 25%;
            /* font-size: 11px; */
            color: rgb(104, 101, 101);
        }
        
        .right {
            display: flex;
            justify-content: space-between;
            margin: auto;
            text-align: left;
        }
        
        .right>p {
            font-family: HCoGothamSSmLight, Arial, Sans-Serif;
            font-size: 1rem;
            font-weight: 600;
            border-left: 1px solid gray;
            padding-left: 10px;
            color: gray;
        }
        
        #bottom-footer{
            height: 140px;
            width: 100%;
            background-color: rgb(44, 65, 82);
            justify-content: space-between;
            display: flex;
            
        }
        #main{
            /* font-size: 14px; */
        
            width: 40%;
            margin-left: 110px;
            margin-top: 30px;
            color: rgb(255,255,255);
            
        }
        
        #btm-left{
            font-size: 14px;
            margin: auto;
            display: flex;
            width: 100%;
            justify-content: space-between;
            gap: 10px;
        }
        #btm-right{
            margin-top: 32px;
            color: rgb(255,255,255);
            margin-right: 110px;
        }
        #f-btns{
            display: grid;
            text-align: center;
           margin-top: 18px;
            height: 110px;
            width: 55px;
            margin-right: 45px;
            grid-gap: 5px;
        
        }
        #foot-btn{
          
            background-color: #ffffff;
            height: 45px;
            width: 45px;
            border-radius: 50px;
            cursor: pointer;
        }
        #foot-btn1{
            background-color: #ffffff;
            font-size: 35px;
            height: 44px;
            width: 44px;
            border-radius: 50px;
            cursor: pointer;
            
        }
        /* .product_left_container
        {
            height: 450px;
            overflow-y: scroll;
        } */
        
        
         